################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Snap/bin/Debug
/Snap/obj/Debug
