<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Snap.Properties.Settings>
            <setting name="LeftGroupIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LeftItemIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpGroupIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UpItemIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RightGroupIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RightItemIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SleepAfterWinZ" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SleepBeforeWinZ" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SleepBetweenAttempts" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="NotificationOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DetectAndIgnoreeWindowsSnapWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumPad1" serializeAs="String">
                <value>C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\devenv.exe</value>
            </setting>
            <setting name="NumPad2" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="NumPad3" serializeAs="String">
                <value />
            </setting>
            <setting name="NumPad4" serializeAs="String">
                <value />
            </setting>
            <setting name="NumPad5" serializeAs="String">
                <value />
            </setting>
            <setting name="NumPad6" serializeAs="String">
                <value />
            </setting>
            <setting name="NumPad7" serializeAs="String">
                <value>https://dev.azure.com/alfinans/IT%20Development/_boards/board/t/IT%20Development%20Team/Stories</value>
            </setting>
            <setting name="NumPad8" serializeAs="String">
                <value>https://helm.alfinans.dk/Dashboard</value>
            </setting>
            <setting name="NumPad9" serializeAs="String">
                <value>https://dev.azure.com/alfinans/_pulls</value>
            </setting>
            <setting name="NumPad0" serializeAs="String">
                <value />
            </setting>
        </Snap.Properties.Settings>
    </userSettings>
</configuration>